---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<Layout title="Welcome to Astro.">
  <h2>記事一覧</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
