---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<Layout title="Welcome to Astro.">
  <h2>タグ一覧</h2>
  <ul>
    {
      uniqueTags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </ul>
</Layout>
